[Unit]
Description=Avi Host Service

[Service]
TimeoutStartSec=0
Restart=always

ExecStart=/bin/sh -c "python3 /usr/sbin/avi_host_server.py"
ExecStop=/bin/sh -c "pkill -f avi_host_server.py"

[Install]
WantedBy=multi-user.target
