#!/bin/sh
#
#       /etc/init.d/avise
#
#       Daemon for avise
#
# chkconfig:   2345 99 99
# description: AVI SE

### BEGIN INIT INFO
# Provides:       avise
# Required-Start: docker
# Required-Stop:
# Should-Start:
# Should-Stop:
# Default-Start: 2 3 4 5
# Default-Stop:  0 1 6
# Short-Description: start and stop avise
# Description: AVISE
### END INIT INFO

start() {
  /usr/bin/docker rm -f avise
  {% if dpdk %}{{ dpdk_pre }}{% endif %}
  echo "Starting avise"
  /usr/bin/docker run {{ docker_run_params }}
  /usr/bin/docker wait avise
}

stop() {
  echo "Stopping avise"
  if `docker ps -f name=avise | grep -q avise`; then
    /usr/bin/docker stop -t 60 avise
    echo "Stopped Avi SE"
  else
    echo "Avi SE already stopped"
  fi
  /usr/bin/docker rm -f avise
  {% if dpdk %}{{ dpdk_post }}{% endif %}
}

restart() {
  stop
  start
}

status() {
  if `docker ps -f name=avise | grep -q avise`; then
    echo "Avi SE is Running"
  else
    echo "Avi SE is Stopped"
  fi
}

case "$1" in
  start)
    $1
    ;;
  stop)
    $1
    ;;
  restart)
    $1
    ;;
  status)
    status avise
  ;;
  *)
  echo $"Usage: $0 {start|stop|status|restart}"
  exit 2
esac

exit $?
