[Unit]
Description=Avi SE
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=0
Restart=always

ExecStartPre=-/usr/bin/docker rm -f avise
{% if se_dpdk %}ExecStartPre=-/usr/bin/bash -c {{ se_dpdk_pre }}{% endif %}
ExecStartPre=/usr/bin/docker run {{ se_docker_run_params }}
ExecStart=/usr/bin/docker logs -f avise
ExecStop=-/usr/bin/docker stop -t 20 avise
ExecStopPost=-/usr/bin/docker rm -f avise
{% if se_dpdk %}ExecStopPost=-/usr/bin/bash -c {{ se_dpdk_post }}{% endif %}


[Install]
WantedBy=multi-user.target
