---
# tasks file for avinetworks.avise

# This task will appropriately start the selected type of deployment.
# It was added to prevent mass "skipped" messages when deploying Avi.
- name: Check ansible version
  when:
    - ansible_version.full is version_compare('2.4', '<')
  debug: msg="This role works best with ansible version 2.4 or greater. It is recommended to use the latest ansible version for the best experience."

- name: Avi SE | Set facts
  set_fact:
    se_autoregister: false
  when: se_auth_token != None

- name: Avi SE | Deployment
  include: "{{ se_deploy_type }}/main.yml"
