avi.mgmt-ip.SE: "{{ csp_se_mgmt_ip }}"
avi.mgmt-mask.SE: "{{ csp_se_mgmt_mask }}"
avi.default-gw.SE: "{{ csp_se_default_gw }}"
AVICNTRL: "{{ master_ctl_ip }}"
{% if avi_token != None -%}
AVICNTRL_AUTHTOKEN: "{{ avi_token }}"
{% endif %}
{% if csp_se_tenant_uuid != None -%}
AVITENANT_UUID: "{{ csp_se_tenant_uuid }}"
{% endif %}
