#!/bin/bash
## Usage: avise [options] ARG1
## Description: This script manages and provides manage of the Avi SE service.
## Author: Eric Anderson <support@avinetworks.com>


if [ -f /etc/default/avise ]; then
  . /etc/default/avise
elif [ -f /etc/sysconfig/avise ]; then
  . /etc/sysconfig/avise
else
  echo "Failed to start: missing defaults"
  exit 1
fi

write_log() {
  echo $1 2>&1 | tee -a ${AVISE_LOGFILE}
}

container_running() {
  docker ps -f name=avise | grep -q avise
}

container_exists() {
  docker ps -a -f name=avise | grep -q avise
}

start_container() {
  write_log "[`date`] Starting the avise container"
  /usr/bin/docker run ${AVISE_DOCKER_RUN_PARAMS}
  if [ $? -eq 0 ]; then
    write_log "[`date`] Service avise running..."
  else
    write_log "[`date`] Failed to start the avise container"
    exit 1
  fi
}

stop_container() {
  /usr/bin/docker stop -t 60 avise
  if [ $? -eq 0 ]; then
    write_log "[`date`] Stopped the avise container"
  else
    exit 1
  fi
}

remove_container() {
  write_log "[`date`] Removing existing avise container"
  /usr/bin/docker rm -f avise
  if [ $? -eq 0 ]; then
    write_log "[`date`] Removed existing avise container"
  else
    write_log "[`date`] Failed to remove existing avise container"
  fi
}

prestart() {
  # Clean up any running or existing avicontroller containers
  write_log "[`date`] Performing avise pre-start step."
  if container_running && container_exists; then
    write_log "[`date`] Service avise is already running."
  elif ! container_running && container_exists; then
    write_log "[`date`] Container avise already exists, but not running. This can be caused by an
      improper shutdown, or service crash. Performing cleanup"
    remove_container
    {% if se_dpdk %}{{ se_dpdk_pre }}{% endif %}
    start_container
  else
    {% if se_dpdk %}{{ se_dpdk_pre }}{% endif %}
    start_container
  fi
}

start() {
  prestart
  /usr/bin/docker wait avise
}

stop() {
  # Stopping the docker process if running
  if container_running; then
    write_log "[`date`] Service avise stopping..."
    stop_container
  else
    write_log "[`date`] Service avise already stopped"
  fi
  poststop
}

poststop() {
  if container_exists; then
    remove_container
  fi
  {% if se_dpdk %}{{ se_dpdk_post }}{% endif %}
}

restart() {
  stop
  start
}

reload() {
  restart
}

status() {
  if container_running; then
    echo "avise running..."
  else
    echo "avise stopped"
  fi
}

case "$1" in
  start|stop|status|restart|reload)
    $1
    ;;
  *)
    echo $"Usage: $0 {start|stop|status|restart|reload}"
    exit 2
esac

exit $?
