[Unit]
Description=AVISE
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=0
Restart=always

ExecStartPre=-/usr/bin/docker kill avise
ExecStartPre=-/usr/bin/docker rm -f avise
{% if dpdk %}ExecStartPre=-/usr/bin/bash -c {{ dpdk_pre }}{% endif %}
ExecStartPre=/usr/bin/docker run {{ docker_run_params }}
ExecStart=/usr/bin/docker logs -f avise
ExecStop=-/usr/bin/docker stop -t 20 avise
ExecStopPost=-/usr/bin/docker kill avise
ExecStopPost=-/usr/bin/docker rm -f avise
{% if dpdk %}ExecStopPost=-/usr/bin/bash -c {{ dpdk_post }}{% endif %}


[Install]
WantedBy=multi-user.target
